.home-page {
  .grid-wrapper {
    margin: 50px 10px 15px;
    width: 100%;

    .news-grid {

    }

    .base {
      //background-color: rgba(255, 255, 255, 0.0);
      //border: 1px solid red;
      //color: white;


      .base-segment {
        background-color: #2d2e30;
        color: #8a8e94;
        .header {
          color: #8a8e94;
        }
      }
    }

    .base-align-right {
      //border: 1px solid red;
      color: white;
      > div {
        display: flex;
        justify-content: flex-end
      }
    }

    .pagination {
      //background-color: rgba(255, 255, 255, 0.0);
    }
  }
}