.home-page {

  .grid-wrapper {
    margin: 50px 10px 15px;
    width: 100%;

    .base-container {

      .base-segment {
        background-color: #2d2e30;
        border: 2px solid #155b80;
        color: #8a8e94;
        margin-bottom: 25px;

        .header {
          color: #8a8e94;
        }
      }
    }

    .base-align-right {
      color: white;
      > div {
        display: flex;
        justify-content: flex-end
      }
    }

    .base-pagination {
      .pagination {
        background-color: #2d2e30 !important;
      }
    }
  }
}