.csp-label {
  background-color: #b7621f !important;
  color: white !important;

  .detail {
    color: black !important;
  }
}

a.link-color {
  color: #8a8e94;
}

a img {
  width: 16px !important;
  height: 16px !important;
  border-radius: 8px;
}

a span.span-name {
  padding-left: 5px;
}