.app-container {
  display: flex;
  height: 100%;
  min-height:100vh;
  overflow: hidden;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}