.weekly-ladder-result {
  table {
    th {
      padding: 3px !important;
      background-color: #155b80 !important;
    }

    tr {
      background-color: #202225;

      td {
        padding: 3px !important;
        color: #8a8e94;

        img {
          width: 16px !important;
          height: 16px !important;
          border-radius: 8px;
        }

        span {
          padding-left: 5px;
        }
      }

    }
  }

  .div-header {
    margin-top: 10px;
    margin-bottom: 10px;

    .header {
      color: #d37f29 !important;

      .week-name {
        color: #aab932;
      }

      .year-name {
        color: #29b8bf;
      }
    }
  }

  .extended-stats-button {
    margin-top: 12px !important;
  }
}