.ladder-wrapper {
  width: 100%;
  margin: 50px 0 15px;
  border: 1px solid red;

  .ladder-menu-container {
    width: 800px !important;
    margin-top: 10px;

    .ladder-menu {
      background-color: rgba(42, 39, 39, 0.85) !important;
    }

    .active.item {
      background-color: #347b4f !important;
    }
  }
}