.ladder-extended-wrapper {
  width: 100%;
  //border: 1px solid yellow;

  .ladder-extended-menu-container {
    //width: 300px !important;
    //border: 1px solid red;
    //margin-top: 10px;
    //margin-bottom: 10px;
    .div-list {
      padding-top: 10px;
      background-color: #2d2e30 !important;
    }

    .ladder-extended-menu-switcher {
      background-color: rgba(42, 39, 39, 0.85) !important;
      margin-bottom: 0;
    }

    .active.item {
      background-color: #347b4f !important;
    }

    .list {
      margin-right: 20px;
      margin-left: 20px;
      padding-bottom: 10px !important;

      .active.item {
        background-color: #224830 !important;
      }

      a::first-letter {
        color: #388b57;
      }
    }
  }

  .ladder-extended-table-container {
    //background-color: #2d2e30 !important;
    //border: 1px solid red;
    color: white;
  }

  .ladder-extended-chart-container {
    //background-color: #2d2e30 !important;
    //border: 1px solid red;
    //color: white;

    .ladder-extended-chart {
      border: 3px solid #0e866c;
      border-radius: 5px;
      background-color: #D5D0CF;
    }
  }
}