.csp-historical-online-wrapper {
  width: 100%;

  .grid-wrapper {
    margin: 50px 10px 15px;

    .grid-column {
      //border: 1px solid yellow;
    }

    .grid-column-green {
      //border: 1px solid green;
    }

    .menu-segment {
      background-color: #353e40;
      //min-width: 150px;
    }

    .menu-servers {
      width: 100% !important;
      margin-left: 1px !important;

      .active.item {
        background-color: #5698af !important;
      }
    }
  }
}