.csp-footer {
  margin-bottom: 10px !important;

  .csp-footer-container {
    .footer-label {
      background-color: grey;

      .footer-drk {
        margin-right: 3px;
      }

      .footer-icon {
        margin-right: 0 !important;
      }

      .footer-year {
        margin-left: 3px;
      }
    }
  }
}