.csp-navigation {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 999;

  .csp-menu {
    background-color: rgba(42, 39, 39, 0.85) !important;

    .active {
      background-color: #973716 !important;
    }
  }
}